*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}
.infinity-scroller{
    width: 80%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: #111;
    flex-direction: column;
    border: 1px solid #333;
    padding: 20px;
    border-left: none;
    border-right: none;
}
.scroll{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg,transparent,#fff 20%,#fff 80%,transparent);
}
.scroll div{
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t)*-1);
}
.scroll div:nth-child(2){
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t)/-2);
}
@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
.scroll div span{
    display: inline-flex;
    margin: 10px;
    background: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.scroll div span:hover{
    background: green;
    cursor: pointer;
}
.imgbx img{
 width:100px;
 height: 100px;
 scale: 0.8;
}
.imgbx img:hover{
    filter:grayscale(0);
}